<?xml version="1.0"?>
<config>
    <modules>
        <Tadic_AVP>
            <version>1.6.0.0</version>
        </Tadic_AVP>
    </modules>

    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>Tadic_AVP_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <tadic_avp>
                <class>Tadic_AVP_Helper</class>
            </tadic_avp>
        </helpers>
    </global>

    <frontend>
        <routers>
            <tadic_avp>
                <use>standard</use>
                <args>
                    <module>Tadic_AVP</module>
                    <frontName>tadic_avp</frontName>
                </args>
            </tadic_avp>
        </routers>
        <layout>
            <updates>
                <tadic_avp>
                    <file>tadic_avp.xml</file>
                </tadic_avp>
            </updates>
        </layout>
    </frontend>

</config>
